@font-face {
    font-family: 'ReformaGroteskDemiC';
    src: url(../fonts/ReformaGroteskDemiC/ReformaGroteskDemiC.eot) format('embedded-opentype'),
    url(../fonts/ReformaGroteskDemiC/ReformaGroteskDemiC.ttf) format('truetype'),
    url(../fonts/ReformaGroteskDemiC/ReformaGroteskDemiC.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ReformaGroteskMediumC';
    src: url(../fonts/ReformaGroteskMediumC/ReformaGroteskMediumC.eot) format('embedded-opentype'),
    url(../fonts/ReformaGroteskMediumC/ReformaGroteskMediumC.ttf) format('truetype'),
    url(../fonts/ReformaGroteskMediumC/ReformaGroteskMediumC.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ReformaGroteskBoldC';
    src: url(../fonts/ReformaGroteskBoldC/ReformaGroteskBoldC.eot) format('embedded-opentype'),
    url(../fonts/ReformaGroteskBoldC/ReformaGroteskBoldC.ttf) format('truetype'),
    url(../fonts/ReformaGroteskBoldC/ReformaGroteskBoldC.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: 'ReformaGroteskDemiC';
    font-style: normal;
    font-size: 24px;
    color: #FFF;
    background-color: #141414;
}

a, a:focus{
    outline: none;
    border: none;
    text-decoration: none;
}

.wrapper{
    max-width: 1326px;
    padding: 0 15px;
    margin: 0 auto;
}

/* page-title */

.page-title{
    font-weight: 600;
    font-size: 52px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/* page-rhombus */

.page-rhombus{
    display: flex;
    gap: 30px;
    max-width: fit-content;
    margin: 0 auto;
}

.page-rhombus__item{
    display: block;
    width: 10px;
    height: 10px;
    background-color: #DB3138;
    transform: rotate(45deg);
}

/* page-arrow */

.page-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 3px solid #DB3138;
    transform: rotate(-45deg);
    cursor: pointer;
}

.page__arrow-two{
    transform: rotate(-225deg);
}

.page-arrow__img img{
    width: 16px;
    height: 25px;
}

/* Header */

.header{
    font-family: 'ReformaGroteskMediumC';
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__nav{
    display: flex;
    align-items: center;
    min-height: 108px;
}

.header__list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__list-link{
    color: #FFF;
    letter-spacing: 0.03em;
    transition: .15s;
}

.header__list-link:hover{
    color: #DB3138;
}

.header__list-link:active{
    filter: brightness(90%);
}

.header__logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 25px;
}

.header__logo-line{
    display: block;
    width: 40px;
    height: 3px;
    background-color: #DB3138;
}

.header__logo-line:first-child,
.header__logo-line:last-child{
    align-self: flex-end;
}

/* Intro */

.intro{
    padding-top: 237px;
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.8) 78.8%, #141414 100%),
    url(../img/intro/intro-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.intro-top__center-block{
    max-width: 483px;
    margin: 0 auto;
    margin-bottom: 103px;
}

.intro-top__title{
    font-family: 'ReformaGroteskBoldC';
    font-weight: 700;
    font-size: 150px;
    line-height: 125%;
    text-align: center;
    color: #DB3138;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.intro-rhombus{
    margin-bottom: 41px;
}

.intro-top__desc{
    font-family: 'ReformaGroteskMediumC';
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    max-width: 437px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.intro-top__link{
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 150px;
    height: 61px;
}

.intro-top__link:hover .intro-top__link-bg{
    width: 100%;
}

.intro-top__link-bg{
    width: 110px;
    height: 100%;
    background-color: #DB3138;
    transition: .2s;
}

.intro-top__link-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 15px 5px 12px 25px;
    color: #FFF;
    z-index: 5;
}

.intro-btm__info{
   display: grid;
   grid-template-columns: repeat(3, minmax(280px, 1fr)); 
}

.intro-btm__info-block:not(:last-child){
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.intro-btm__info-block{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 50px 30px;
}

.intro-btm__info-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.intro-btm__info-text{
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #DB3138;
    max-width: 265px;
    margin: 0 auto;
}

span.intro-btm__info-text{
    display: block;
}

span.intro-btm__info-text:nth-child(2),
span.intro-btm__info-text:nth-child(2){
    margin-bottom: 15px;
}

/* Achieve */

.achieve__content{
    padding: 180px 0;
}

.achieve__wrap{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
    gap: 35px 24px;
}

.achieve__desc-title{
    margin-bottom: 40px;
}

.achieve-rhombus{
    margin: 0 0 40px 0;
}

.achieve__desc-text{
    font-family: 'ReformaGroteskMediumC';
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.03em;
    max-width: 526px;
}

.achieve__cards{
    display: flex;
}

.achieve__cards-right{
    padding-top: 40px;
}

.achieve__card{
    border: 1px solid rgba(216, 216, 216, 0.5);
    padding: 25px 20px 35px 20px;
    max-width: 319px;
}

.achieve__card-title{
    font-weight: 600;
    font-size: 52px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #DB3138;
}

.achieve__card-title span{
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #DB3138;
}

.achieve__card-text{
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.achieve__card-img{
    max-width: fit-content;
    margin: 0 auto 22px auto;
}

/* Main-slider */

.main-slider{
    margin-bottom: 180px;
}

.main-slider-wrap{
    max-width: 1608px;
    padding: 0 25px;
    margin: 0 auto;
}

.main-slider__slider{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50px 1fr 50px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.main-slider__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.main-slider__card{
    position: relative;
}

.main-slider__card-img img{
    min-height: 350px;
    object-fit: cover;
}

.main-slider__card-space{
    height: 68px;
}

.main-slider__card-text{
    position: absolute;
    top: 315px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 0 auto;
    width: 90%;
    z-index: 5;
}

.main-slider__card-bg{
    height: 70px;
    background-color: #DB3138;
}

.main-slider__card-desc{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 75%;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    z-index: 10;
}

/* Info Info-one */

.info-one{
    margin-bottom: 180px;
}

.info__wrap{
    display: flex;
    justify-content: center;
    gap: 134px;
}

.info__desc{
    max-width: 526px;
}

.info__desc-block:not(:last-child){
    margin-bottom: 50px;
}

.info__desc-subtitle{
    display: flex;
    align-items: center;
    gap: 37px;
    margin-bottom: 30px;
}

.info__desc-subtitle__text{
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.info__desc-text{
    font-family: 'ReformaGroteskMediumC';
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.03em;
}

.info-rhombus{
    margin: 0 auto 40px auto;
}

.info__slider{
    max-width: 636px;
    display: flex;
    flex-direction: column;
}

.info__slider-photo img{
    min-height: 550px;
    object-fit: cover;
}

.info__slider-arrows{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50px auto 50px;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
    min-height: 71px;
    padding: 0 10px;
    margin-top: auto;
}

.info__slider-text{
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    max-width: 422px;
}

/* Services */

.services{
    margin-bottom: 180px;
}

.services__title{
    margin-bottom: 40px;
    text-align: center;
}

.services-rhombus{
    margin-bottom: 60px;
}

.services__buttons{
    display: flex;
    justify-content: center;
    gap: 60px;
    max-width: fit-content;
    margin: 0 auto 80px;
}

.services__button_active{
    background-color: #DB3138;
}

.services__button{
    padding: 17px 40px;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    cursor: pointer;
}

.services__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.services__card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 80px 40px 50px;
    text-align: center;
}

.services__card-img{
    max-width: fit-content;
    margin: 0 auto 27px;
}

.services__card-subtitle{
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: 20px;
}

.services__card-desc{
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.services__card-link{
    position: relative;
    display: block;
    width: 100px;
    height: 41px;
    margin: auto auto 0 auto;
}

.services__card-link:hover .services__card-link-bg{
    width: 100%;
}

.services__card-link-bg{
    width: 57%;
    height: 100%;
    background-color: #DB3138;
    transition: .2s;
}

.services__card-link-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    padding: 8px 10px 8px 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFF;
}

/* Info-two */

.info-two__desc{
    order: 1;
}









