@font-face {
    font-family: 'ReformaGroteskDemiC';
    src: url(../fonts/ReformaGroteskDemiC/ReformaGroteskDemiC.eot) format('embedded-opentype'),
    url(../fonts/ReformaGroteskDemiC/ReformaGroteskDemiC.ttf) format('truetype'),
    url(../fonts/ReformaGroteskDemiC/ReformaGroteskDemiC.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ReformaGroteskMediumC';
    src: url(../fonts/ReformaGroteskMediumC/ReformaGroteskMediumC.eot) format('embedded-opentype'),
    url(../fonts/ReformaGroteskMediumC/ReformaGroteskMediumC.ttf) format('truetype'),
    url(../fonts/ReformaGroteskMediumC/ReformaGroteskMediumC.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ReformaGroteskBoldC';
    src: url(../fonts/ReformaGroteskBoldC/ReformaGroteskBoldC.eot) format('embedded-opentype'),
    url(../fonts/ReformaGroteskBoldC/ReformaGroteskBoldC.ttf) format('truetype'),
    url(../fonts/ReformaGroteskBoldC/ReformaGroteskBoldC.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}


